%nav#top-nav
  = link_to products_path do
    = image_tag("beach_logo.svg", size: "100x100", :alt => "Beach", :class => "logo-nav")
  #top-options
    %a About
    %a Contact
    = button_to "Register", signup_path, method: :get, class: "index-link"
    - if logged_in?
      = button_to "Logout", sessions_path, method: :delete
    - else
      = button_to "Login Page", login_path, method: :get