<!DOCTYPE html>
<html lang>
<head>
  <title>Wypozyczalnia</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav id="top_nav">
    <%= image_tag("beach_logo.svg", size: "100x100", :alt => "Beach", :class => "logo_nav") %>
    <div id="top_options">
      <a>O nas</a>
      <a>Kontakt</a>
      <a>Zaloguj</a>
    </div>
  </nav>
  <main>
    xxx
  </main>
  <footer>
    <a>©2023 Wypożyczalnia</a>
    <%= image_tag("facebook2.svg", size: "20x20", :alt => "Facebook button", :class => "logo_footer") %>
    <%= image_tag("twitter.svg", size: "20x20", :alt => "Twitter button", :class => "logo_footer") %>
  </footer>
<%= yield %>
</body>
</html>
