= render partial:'partials/head'
%body
  = render partial:'partials/nav'
  %main
    %section.window-product
      %h1.window-product-title Offer
      - @products.each do |product|
        %div.general-product-container
          = image_tag("beach_logo.svg", size: "200x200", :alt => "Beach", :class => "product-photo")
          %div.text-container
            = button_to product.name, product_path(product), method: :get, class: "btn"
  = render 'partials/footer'
  = yield