= render partial:'partials/head'
%body
  = render partial:'partials/nav'
  %main
    %section.window-product-single
      %h1.window-product-title-single
        = @product.name
      %div.general-product-container-single
        = image_tag("beach_logo.svg", size: "500x500", :alt => "Beach", :class => "product-photo-single")
      %div.text-container-single
        = "Availability: #{sprintf('%.0f', @product.stock)} szt."
        = "Price: #{sprintf('%.2f', @product.price)} zł"
  = render 'partials/footer'
  = yield