!!!
%html{:lang => ""}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wypozyczalnia
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render partial:'partials/nav'
    %main
      %section.window-product
        %h1.window-product-title
          = @product.name
          %div.general-product-container
            = image_tag("beach_logo.svg", size: "200x200", :alt => "Beach", :class => "product-photo")
            %div.text-container
              = "Dostępność: #{sprintf('%.0f', @product.stock)} szt."
              = "Cena: #{sprintf('%.2f', @product.price)} zł"
    = render 'partials/footer'
    = yield